@import url('https://fonts.googleapis.com/css2?family=Cantarell&family=Fjalla+One&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    

}


html {
    height: 100%;  
}

body {
    height: 100%;
    line-height: 1.5;
    display: flex;
    justify-content: center;
    /*width: fit-content;*/
    text-align: center;
    -webkit-font-smoothing: antialiased;
    font-family: 'Fjalla One', sans-serif;
    /* Background image taken by me at the top of the mountain Skierfe, looking down on the river delta. */
    background: url('../images/skierfe.JPG') no-repeat center center;

}


img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}



/* General rules for headers and paragraphs */

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
    color: whitesmoke;
}

h1, h2, h3, h4, h5, h6 {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

h2 {
    font-size: 30px;
}

p {
    font-family: 'Cantarell', sans-serif;
    font-size: 18;
    font-weight: bold;
}

/* Logo and Navigation content */

#logo {
    font-size: 100px;
    text-transform: uppercase;
}



.navbar {
    background-color: #2E6038;
    overflow: hidden;
    flex-direction: row;
    border: solid 1px whitesmoke;
    width: 100%;
}

.navbar a {
    color: whitesmoke;
    padding: 14px 16px;
    font-size: 18;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #895A14;
    color: whitesmoke;
}

.navbar a.active {
    color: #377CEA;
}

/* Introduction page styling */

.container {
    padding: 10px;    
}

.boxes {
    background-color: rgba(46, 96, 56, 0.7);
    padding: 10px;
    border: solid 1px whitesmoke;
    border-radius: 10px;
}

.boxes ul {
    list-style: none;
}

.boxes li {
    padding: 10px;
    color: gold;
    
} 

/* Image taken by me while hiking the kings trail */

.imagecontainer1 {
    border: solid 1px whitesmoke;
    margin-top: 10px;
    margin-bottom: 10px;
    
}

#terrain {
    height: auto;
    width: 100%;
    
}

/* Asides */


aside a {
    text-decoration: none;
    color: gold;
}

aside a:hover {
    background-color: #895A14;
    
    
}

/* Footer content */ 

.footercontainer {
    padding: 10px;
    background-color: #2E6038;
    border: solid 1px whitesmoke;
}

.footerrow {
    justify-content: space-around;
}

.infocol1 {
    text-align: start;   
}

.infocol1 li {
    list-style: none;
}

.infocol1 li a {
    text-decoration: none;
    color: gold;
}

.infocol1 li a:hover {
    background-color: #895A14;
}

.infocol2 {
    margin-top: -100px;
    color: gold;
}

.infocol3 {
    text-align: end;
}

.infocol3 ul a {
    color: gold;
}

.infocol3 ul a:hover {
    background-color: whitesmoke;
}



   /* Footer content 


 .footer {
    padding: 70px 0;
    
    
 }

 .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #2E6038;
    border: solid 1px whitesmoke;
    
    

 }



 .footer-col a {
    color: whitesmoke;
    
 
 }


 .footer-col a:hover {
    background-color: #377CEA;
 }

 .footer-col .social-links  {
    display: inline-block;
    height: 40px;
    width: 40px;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    transition: all 0.5 ease;
    text-transform: uppercase;
 }

 .equipment {
    line-height: 2;
    text-transform: uppercase;
 }

 .iconcontainer {
    margin-top: 20px;
 }


 @media(max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
 }


 @media(max-width: 574px) {
    .footer-col {
        width: 100%;
       
    }
 }



/* Camping html page section 


.camping {
    text-align: center;
    padding-top: 10px;
}

.campinglist li {
    color: #377CEA;
    font-size: 18px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#fire {
    display: flex;
    justify-content: center;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    margin-bottom: 10px;
}

.fire {
    color: red;
}

#howidoit {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #2E6038;
    border: solid 1px whitesmoke;
    width: 40%;
    margin: auto;
}

#howidoit h2 {
    text-transform: uppercase;
}




/* Picture of my dog and my tent on an island 

#dog  {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    margin: auto;
    height: 1000px;
    width: 700px;
    border: solid 1px whitesmoke;
    border-radius: 10px;

}

/* Canoeing html page section 


.canoecontainer {
    display: flex;
    justify-content: center;
}

/* Picture of me sitting by a fire and canoe 

#canoe {
    border: solid 1px whitesmoke;
    border-radius: 10px;
}

.canoeing {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
   
}


#gear {
    color: yellowgreen;
}

#canoeing2 {

    background-color: #2E6038;
    border: solid 1px whitesmoke;
    width: 40%;
    margin: auto;
  
}

#canoeing2 h2 {
    text-transform: uppercase;
}

/* Hiking html page section 

.hiking {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}



.movie1 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 10px;
    padding-bottom: 10px;
}

#hiking2 {
    background-color: #2E6038;
    border: solid 1px whitesmoke;
    width: 40%;
    margin: auto;
}

#hiking2 h2 {
    text-transform: uppercase;
}


/* Outdoor news html page section 



.signform {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
    background: url('../images/sunset.jpg') no-repeat center center;
    height: 800px;
    
}

/* Background picture taken by me of my friend packing his canoe (I got his permission to use the picture) 

.email {
    border-radius: 20px;
    padding: 10px;
    width: 300px;
    text-align: center;
    border: solid 1px whitesmoke;
}

label {
    color: whitesmoke;
    font-size: 18px;
}

.password {
    border-radius: 20px;
    padding: 10px;
    width: 300px;
    text-align: center;
    border: solid 1px whitesmoke;
}

.signup {
    background-color: #2E6038;
    color: whitesmoke;
    border-radius: 10px;
    font-size: 18px;
    width: 100px;
    margin-top: 20px;
    text-transform: uppercase;
    cursor: pointer;

}

*/


