@import url('https://fonts.googleapis.com/css2?family=Cantarell&family=Fjalla+One&display=swap');

html {
    height: 100%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: Fjalla One, sans-serif;
    color: black;
}

body {
    
   /* Background image taken by me at the top of the mountain Skierfe, looking down on the river delta */ 
    background: url('../images/skierfe.JPG') no-repeat center center;
    height: 100%;
     -webkit-font-smoothing: antialiased;
}


p {
    font-family: Cantarell, sans-serif;
    color: whitesmoke;
}

h2, h3 {
    color: whitesmoke;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}


/* Logo and Navigation content */


#logo {
    display: flex;
    justify-content: center;
    font-size: 100px;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}

.navbar {
    background-color: #895A14;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.navbar a {
    color: whitesmoke;
    padding: 14px 16px;
    font-size: 17px;
}

.navbar a:hover {
    background-color: #2E6038;
    color: whitesmoke;
}

.navbar a.active {
    color: #377CEA;
}


/* Introduction page content */

.welcome {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 40px;
    text-align: center;

}

.welcome h2 {
    font-size: 30px;
}

.welcome p {
    font-size: 18px;
    padding-top: 10px;
    text-shadow: white 0px 0px 10px;
}

.law {
    display: flex;
    display: inline-block;
    justify-content: start;
    flex-direction: column;
    padding-bottom: 30px;
    margin-left: 100px;
}

.law h2 {
    font-size: 30px;
}

.law li {
    padding-top: 10px;
    color: red;
} 

.law p {
    font-size: 18px;
    padding-top: 10px;
    text-shadow: white 0px 0px 10px;
}

#terrain {
    position: absolute;
    width:  600px;
    height: 400px;
    border: solid 1px whitesmoke;
    border-radius: 10px;
    margin-left: 350px;
    margin-top: -20px;

    
}

/* Asides */ 

#wrapper1 {
    display: flex;
    justify-content: space-evenly;
    margin-top: 80px;
}

.extrainfo h3 {
    font-size: 30px;
    text-align: center;
}

.extrainfo p {
    font-size: 18px;
    text-shadow: white 0px 0px 10px;
    text-align: center;
}

#link {
    font-size: 30px;
    color: #377CEA;
    text-shadow: none;   
}

#link a:hover {
    color: #377CEA;
}

   /* Footer content */


 .footer {
    padding: 70px 0;
    
    
 }

 .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #2E6038;
    border: solid 1px whitesmoke;
    
    

 }



 .footer-col a {
    color: whitesmoke;
    
 
 }


 .footer-col a:hover {
    background-color: #377CEA;
 }

 .footer-col .social-links  {
    display: inline-block;
    height: 40px;
    width: 40px;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    transition: all 0.5 ease;
 }

 .equipment {
    line-height: 2;
 }

 .iconcontainer {
    margin-top: 20px;
 }


 @media(max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
 }


 @media(max-width: 574px) {
    .footer-col {
        width: 100%;
       
    }
 }



/*Camping html page section */





