@import url('https://fonts.googleapis.com/css2?family=Cantarell&family=Fjalla+One&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    

}


html {
    height: 100%;  
}

body {
    height: 100%;
    line-height: 1.5;
    display: flex;
    justify-content: center;
    /*width: fit-content;*/
    text-align: center;
    -webkit-font-smoothing: antialiased;
    font-family: 'Fjalla One', sans-serif;
    /* Background image taken by me at the top of the mountain Skierfe, looking down on the river delta. */
    background: url('../images/skierfe.JPG') no-repeat center center;

}


img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}



/* General rules for headers and paragraphs */

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
    color: whitesmoke;
}

h1, h2, h3, h4, h5, h6 {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

h2 {
    font-size: 30px;
}

p {
    font-family: 'Cantarell', sans-serif;
    font-weight: bold;
}

/* Logo and Navigation content */

#logo {
    font-size: 100px;
    text-transform: uppercase;
}



.navbar {
    background-color: #2E6038;
    overflow: hidden;
    flex-direction: row;
    border: solid 1px whitesmoke;
    width: 100%;
}

.navbar a {
    color: whitesmoke;
    padding: 14px 16px;
    text-decoration: none;

}

.navbar a:hover {
    background-color: #895A14;
    color: whitesmoke;
}

.navbar a.active {
    color: gold;
}

/*links in main pages*/

.boxes a {
    text-decoration: none;
    color: gold;
}

.boxes a:hover {
    background-color: #895A14;
}


/* Main pages styling */

.container {
    padding: 10px;    
}

.boxes {
    background-color: rgba(46, 96, 56, 0.7);
    padding: 10px;
    border: solid 1px whitesmoke;
    border-radius: 10px;
}

.boxes ul {
    list-style: none;
}

.boxes li {
    padding: 10px;
    color: gold;
    
} 

.experience {
    text-transform: uppercase;
}

/* Image container properties */

.imagecontainer {
    border: solid 1px whitesmoke;
    margin-top: 10px;
    margin-bottom: 10px;
    
}
/* Image taken by me while hiking the kings trail */
#terrain {
    height: auto;
    width: 100%;  
}


/* Footer content */ 

.footercontainer {
    padding: 10px;
    background-color: #2E6038;
    border: solid 1px whitesmoke;
}

.footerrow {
    justify-content: space-around;
}

.infocol1 {
    text-align: start;   
}

.infocol1 li {
    list-style: none;
}

.infocol1 li a {
    text-decoration: none;
    color: gold;
}

.infocol1 li a:hover {
    background-color: #895A14;
}

.infocol2 {
    margin-top: -100px;
    color: gold;
}

.infocol3 {
    text-align: end;
}

.infocol3 a {
    color: gold;
}


/* Image rules for the rest of the pages */ 

.imagecontainer2 {
    margin-top: 10px;
    margin-bottom: 10px;
}

#images {
    margin: auto;
    border: 1px solid whitesmoke;
}



/* Sign up Form */ 
label {
    color: whitesmoke;   
}

.signupwrapper {
    background: #2E6038;
    border: solid 1px whitesmoke;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 40px;
}

.wrapper form {
    margin-top: 30px;
}

.signupwrapper form .input-box {
    height: 40px;
    margin: 20px 0;
    border-radius: 10px;
}

form .input-box input {
    height: 100%;
    width: 100%;
    border: solid 1px whitesmoke;
    border-radius: 10px;
    text-align: center;

}

/* Movie in outdoornews.html */ 

.movie2 {
    margin-bottom: 30px;
}

